<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-12">-->
<!--            <div class="btn-group">-->
<!--                <div class="notification-btn pointer mrg-vertical-10 mrg-horizon-5">-->
                <label class="notification-btn mrg-vertical-10 mrg-horizon-5 dropdown-toggle" data-toggle="dropdown">
                </label>
                <ul class="dropdown-menu scrollable-menu" role="menu" id="requests-scroll-bar"></ul>
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->