<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <th:block th:replace="common/head"></th:block>
</head>
<body>
<li aria-expanded="false" class="bg-lightgray btn-inverse border-radius-round mrg-right-5" data-toggle="dropdown">
<!--    <a class="pdd-vertical-5 pdd-horizon-10 pointer">-->
        검색
        <input type="text" id="input-search-name"/>
<!--        <span class="icon-name font-size-13 text-bold"></span>-->
<!--        <span class="ti-angle-down"></span>-->
<!--    </a>-->
</li>
<ul class="composor-tools pdd-top-15">
    <ul class="dropdown-menu" role="menu" id="search-dropdown-menu">
    </ul>
</ul>
</body>
<th:block th:include="common/cdns"></th:block>
<script src="/js/test.js"></script>
</html>